
<P id="notice"><%= notice %></p>
<p>
  <strong>tittle:</strong>
  <%= @portfolio.tittle %>
</p>
<p>
  <strong>subTittle:</strong>
  <%= @portfolio.subtittle %>
</p>

<p>
  <strong>Body:</strong>
  <%= @portfolio.body %>
</p>